{% extends 'admin_blog/dashboard.html' %}

{% block section%}
    <h1 style="text-align: center;">Modifier une annonce</h1>
    <div class="ajout_article">
        {% if user.is_authenticated and user.is_staff %}
            <form METHOD="POST">
              {% csrf_token %}
              <table>
                {{form.as_table}}
              </table>
                <div style="text-align: center; margin-top: -50px; margin-left: -20px;">
                <input style=" width: 50%;" type="submit" value="Modifier" class="btn btn-submit">
                </div>
            </form>
        {% else %}
            <h1>
                Connectez-vous, si vous avez les droits de publication.
                Ou si vous l'ếtes déjà, faites une demande au prêt de l'administrateur
                du site afin de pouvoir poster ou modifier des annonces !
                <br><br><a href="#">Faire la demande</a>
            </h1>
        {% endif %}
    </div>
{% endblock %}