@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import "reset.css";

:root{
    --color1: #0082e6;
    --color2: #1b9bff;
    --color3: #2c3e50;
    --color4: #ff7e14;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
    background-color: mintcream;
    font-family: 'Raleway', sans-serif;
}

nav{
    position: fixed;
    top: 0px;
    background-color: var(--color1);
    height: 80px;
    width: 100%;
}
.logo{
    color: white;
    font-size: 26px;
    line-height: 80px;
    padding: 0 70px;
    font-weight: bold;
}

.logo:hover{
    background-color: transparent;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active, a:hover{
    background-color: var(--color2);
    transition: .5s;

}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 955px) {
    .logo{
        color: white;
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 20px;
    }

}

@media (max-width: 858px) {
    .checkbtn {
        display: inline-block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color3);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }
     
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 18px;
    }
    a.active, a:hover{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }

}

.login_title{
     text-align: center;
     background-color: orange;
     color: white;
     margin: 25px 100px;
}
.marge-adds{
    margin-top: 150px;
    margin-bottom: 150px;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr;
    width: 80%;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.box-img{
    width: 250px;
    padding: 0px 0;
    border: 1px solid var(--color3);
    border-radius: .35rem;
    background-color: var(--color3);
    color: white;
}

.box-img img{
    border-radius: .25rem;
}
.articles img{
    width: 320px;
    height: 250px;
    display: block;
}

.description_article {
    padding-left: 30px;
    padding-bottom: 20px;
}

div.description_article h2{
    padding-bottom: 120px;
}

div.description_article h5{
    font-family: light;
}

div.description_article p{
    padding-bottom: 50px;
}

.article-detail{
    margin: 0 100px;
    width: 820px;
    height: 620px;
}


.article-detail > h1{
    text-transform: UPPERCASE;
    margin-bottom: 1rem;
}
.bouton-retour{
    margin: -20px 15px;
    font-size: 15px;
    padding: 2px 2px;
    background-color: var(--color2);;
    color: white; font-weight: bold;
    border: 1;
    border-color: var(--color2);
    cursor: pointer;

}
#a-hover:hover{
    background-color: transparent;
}

@media (max-width: 1020px)
{
    .articles
    {
        display: block;
        text-align: center;
        margin-left: 120px;
    }

    .bouton-retour
    {
        display: none;
    }
    .article-detail
    {
        margin: 0 50px;
        width: 420px;
    }
    .article-detail > img
    {
        width:350px;
        height:310;
    }
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}


footer {
  background: var(--color3);
  margin-top: auto;
  max-width: 100%;
  padding-bottom: 40px;
}
.footer-list-top {
  width: 33.333%;
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: white;
  font: 20px "Raleway", sans-serif;
}
.footer-list-anchor {
  font: 12px "Raleway", sans-serif;
  color: white;
}

@media (max-width: 1020px)
{
    footer.flex-rw{
        display: block;
        width: 100%;
        padding-left: 350px;
    }
}

.section-haut{
    background-color: var(--color4);
    width: 100%;
    height: 200px;
    margin-top: -70px;
    border: 1px solid orange;
}
.section-centre{
    background-color: white;
    width: 50%;
    height: 200px;
    margin-top: -30px;
    margin-left: 350px;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 0.25rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.search-bar{
    width: 50%;
    height: 40px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: auto;
    border: 1px solid grey;
    background: light;
    border-radius: 0.25rem;
}

input{
    text-align: center;
    font-size: 14px;
}
.categories {
    color: black;
    margin-left: 20px;
    margin-top: 10px
}
.categories-right {
    color: black;
    margin-left: 670px;
    margin-top: -130px
}

.button-search {
    color: white;
    background-color: var(--color2);
    border-color: var(--color2);
    width: 50%;
    height: 30px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: auto;
    font-size: 14px;
    border-radius: 0.25rem;
}

.text-accroche {
    text-align: center;
    color: white;
}

.text-accroche h3, h5
{
    font-weight: bold;
    font-family: Open Sans;

}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

div.formulaire {
        border-radius:0.3rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;background-color:white;
        margin-left: 350px; padding: 50px 50px;
        text-align: center;
        width: 50%;
    }
div.formulaire p {
    padding: 10px 0;

}
div.formulaire a:hover {
    background-color: transparent;

}
div.formulaire ul {
    font-weight: bold;
    color: blue;
}

div.formulaire input {
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
}

.vendeur-article > div{
        display: flex;
        position: column;
        width: 100%;
}
.apparait-contact{
    display: none;
}
.mes_annonces{
    margin:20px 150px;
    width: 80%;
    border: 1px solid white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
@media (max-width: 1020px)
{
    div.formulaire{
        border-radius:0.3rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        background-color:white;
        margin-left: 15%; padding: 50px 50px;
        text-align: center;
        width: 70%
    }

    .section-centre{
        display:none;
    }
    footer {
        display: none ! important;
    }
    .dispa-contact {
    display: none;
    }
    .apparait-contact{
    display: block;
    }
    .article-detail{
        width: 100%;
        margin-right: -100px;
        margin-left: 10px;
        font-size: 14px;
    }
    .mes_annonces{
    margin:20px 130px;
    width: 50%;
    font-size: 14px;
    }
}

div.ajout_article {
        margin-left: 400px;
        padding: 100px 100px;
        text-align: center;
        width: 50%;
    }
div.ajout_article tr, td{
    padding: 20px 0;
    margin-top: 20px ;

}
div.ajout_article a:hover {
    background-color: transparent;

}
div.ajout_article tr {
    font-weight: bold;
}

div.ajout_article input {
    padding: 20px 0;
    margin: 20px 0;
    width: 100%;
}